@model Moogle.Models.Characters
@{
    ViewData["Title"] = "| Edit";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2>edit character</h2>
<hr />
<form asp-action="Edit">
    <div class="add-edit-list">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <select asp-for="Origin" class="login-bar login-picture">
                        <option value="Final Fantasy 01">Final Fantasy 01</option>
                        <option value="Final Fantasy 02">Final Fantasy 02</option>
                        <option value="Final Fantasy 03">Final Fantasy 03</option>  
                        <option value="Final Fantasy 04">Final Fantasy 04</option>
                        <option value="Final Fantasy 05">Final Fantasy 05</option>
                        <option value="Final Fantasy 06">Final Fantasy 06</option>
                        <option value="Final Fantasy 07">Final Fantasy 07</option>
                        <option value="Final Fantasy 08">Final Fantasy 08</option>
                        <option value="Final Fantasy 09">Final Fantasy 09</option>
                        <option value="Final Fantasy 10">Final Fantasy 10</option>
                        <option value="Final Fantasy 10-2">Final Fantasy 10-2</option>
                        <option value="Final Fantasy 11">Final Fantasy 11</option>
                        <option value="Final Fantasy 12">Final Fantasy 12</option>
                        <option value="Final Fantasy 13">Final Fantasy 13</option>
                        <option value="Final Fantasy 13-2">Final Fantasy 13-2</option>
                        <option value="Final Fantasy 14">Final Fantasy 14</option>
                        <option value="Final Fantasy 15">Final Fantasy 15</option>
                    </select>
                    <span asp-validation-for="Origin" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">game</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <select asp-for="Gender" class="login-bar login-picture">
                        <option>Enter character gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="??">??</option>                    
                    </select>                
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">gender</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Name" class="login-bar login-picture" placeholder="Enter character name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">name</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Race" class="login-bar login-picture" placeholder="Enter character race"/>
                    <span asp-validation-for="Race" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">race</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Age" class="login-bar login-picture" placeholder="Enter character age"/>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">age</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Job" class="login-bar login-picture" placeholder="Enter character class or job"/>
                    <span asp-validation-for="Job" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">class/job</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Height" class="login-bar login-picture" placeholder="Enter height in meters"/>
                    <span asp-validation-for="Height" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">height</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Weight" class="login-bar login-picture" placeholder="Enter weight in kilograms"/>
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">weight</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response2" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response2" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response3" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response3" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response4" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response4" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response5" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response5" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response6" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response6" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response7" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response7" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response8" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response8" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response9" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response9" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response10" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response10" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
            </div>
            <div id="desc-position" class="col-md-6">
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Picture" class="login-bar login-picture" placeholder="images/ff-&lt;name&gt;-sample.jpg"  title="Enter image url" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">picture</span>
                <img style="width:250px;height:auto;margin:5px;" asp-route-id="@Model.Id" src="@Model.Picture" alt="@Model.Name" title="@Model.Name" />
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Picture2" class="login-bar login-picture" placeholder="images/ff-&lt;name&gt;-sample.jpg"  title="Enter image url" />
                    <span asp-validation-for="Picture2" class="text-danger"></span>
                </div>
                <span sclass="font-10 label-under">picture</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Picture3" class="login-bar login-picture" placeholder="images/ff-&lt;name&gt;-sample.jpg"  title="Enter image url" />
                    <span asp-validation-for="Picture3" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">picture</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Picture4" class="login-bar login-picture" placeholder="images/ff-&lt;name&gt;-sample.jpg"  title="Enter image url" />
                    <span asp-validation-for="Picture4" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">picture</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Picture5" class="login-bar login-picture" placeholder="images/ff-&lt;name&gt;-sample.jpg"  title="Enter image url" />
                    <span asp-validation-for="Picture5" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">picture</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <textarea id="desc-input" asp-for="Description" class="login-bar" placeholder="Enter a character description in this space" title="Enter a character description in this space" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">character description</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <textarea id="desc-input" asp-for="Response1" class="login-bar" placeholder="Enter a character dating profile in this space" title="Enter a character dating profile in this space" ></textarea>
                    <span asp-validation-for="Response1" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating profile</span>
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-left:150px;">
        <button type="submit" class="btn btn-default shadow"><span class="glyphicon glyphicon-ok"></span> save</button>
        <a class="btn btn-default shadow" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span> cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}