@model PaginatedList<Moogle.Models.Characters>

@using Microsoft.AspNetCore.Identity
@using Moogle.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "| Characters";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2>character list</h2>
<hr />
<form asp-action="Index" method="get">
    <div id="input-container">
        <div class="row">
            <div class="col-md-6">
                <span class="glyphicon glyphicon-search"></span>
                <input class="input-bar" style="max-width:250px;margin: 0 !important;" type="text" name="SearchString" placeholder='Search ex. "Lightning" or "13"' value="@ViewData["CurrentFilter"]" />
            </div>
            <div class="col-md-6 text-right">
                <a class="btn back-btn" asp-action="Index"><span class="glyphicon glyphicon-th-list"></span> full list</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn back-btn" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> add character</a>
                }
            </div>
        </div>
    </div>
</form>
<div class="row">
    @foreach (var item in Model) 
    {
        <div class="well col-md-4 character-card text-center">
        <span class="text-center">@item.Name</span>
        <br/>
        <a data-toggle="modal" href="@("#viewModal" + item.Id)"><img class="character-list-thumb" asp-route-id="@item.Id" src="@item.Picture" alt="@item.Name" title="@item.Name"/></a>
            <div class="modal fade" id="@("viewModal" + item.Id)" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm("Details", "Character"))
                        {
                            <input type="hidden" value="@item.Id" name="Id" />
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">@item.Name</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="character-delete-img" asp-route-id="@item.Id" src="@item.Picture" alt="@item.Name" title="@item.Name"/>
                                    </div>
                                    <div class="col-md-6 text-left">
                                        <h4><strong>@Html.DisplayNameFor(modelItem => item.Origin)</strong>: @item.Origin</h4>
                                        <h4><strong>@Html.DisplayNameFor(modelItem => item.Race)</strong>: @item.Race</h4>
                                        <h4><strong>@Html.DisplayNameFor(modelItem => item.Gender)</strong>: @item.Gender</h4>
                                        <h4><strong>@Html.DisplayNameFor(modelItem => item.Age)</strong>: @item.Age</h4>
                                        <h4><strong>@Html.DisplayNameFor(modelItem => item.Height)</strong>: @item.Height m</h4>
                                        <h4><strong>@Html.DisplayNameFor(modelItem => item.Weight)</strong>: @item.Weight kg</h4>
                                        <h4><strong>@Html.DisplayNameFor(modelItem => item.Job)</strong>: @item.Job</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <h4 id="desc">@item.Description</h4>
                                    </div>
                                </div>    
                            </div>
                            <div class="modal-footer">
                            @if (User.IsInRole("Admin")) 
                            {
                                <a class="btn btn-warning shadow" data-toggle="modal" href="@("#deleteModal" + item.Id)">delete</a>
                                <a class="btn btn-default shadow" asp-action="Edit" asp-route-id="@item.Id">edit</a>
                                <button type="button" class="btn btn-default shadow" data-dismiss="modal">close</button>
                            }
                            else 
                            {
                                <button type="button" class="btn btn-default shadow" data-dismiss="modal">close</button>
                            }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <br/>
        @if (User.IsInRole("Admin"))
            {
                <span style="font-size:12px;">
                    <a asp-action="Edit" asp-route-id="@item.Id">edit</a> | 
                    <a data-toggle="modal" href="@("#deleteModal" + item.Id)">delete</a>
                        <div class="modal fade" id="@("deleteModal" + item.Id)" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    @using (Html.BeginForm("Delete", "Character"))
                                    {
                                        <input type="hidden" value="@item.Id" name="Id" />
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">X</button>
                                            <h4 class="modal-title">Delete @item.Name</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img class="character-delete-img" asp-route-id="@item.Id" src="@item.Picture" alt="@item.Name" title="@item.Name"/>
                                            <br/><br/>
                                            <p>Are you sure you want to delete @item.Name?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger">yes</button>
                                            <button type="button" class="btn btn-default shadow" data-dismiss="modal">no</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                </span>
            }
        </div>
    }

</div>
<div class="text-center" style="margin-top:50px;">
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-page="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default shadow @prevDisabled">
    <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-page="@(Model.PageIndex + 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default shadow @nextDisabled">
    <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
</div>