<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        @if (IsSectionDefined("MetaTags"))
        {
            @RenderSection("MetaTags", required: false)
        }
        <link rel="icon" href="~/icons/icon-ff-moogle.png" />
        <title>MoogleApi @ViewData["Title"]</title>
        <environment include="Production">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
            @RenderSection("Styles", false)
        </environment>
        <environment exclude="Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
        </environment>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-mod">
            <div class="container">
                <div class="navbar-header text-center">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <h1 class="site-logo">
                            <span class="blue no-space">M</span>
                            <span class="span-logo"><img class="logo-img" src="@Url.Content("/icons/icon-ff-moogle.png")" alt="Moogle face for one of the Os."></span>
                            <span class="yellow no-space">o</span>
                            <span class="blue no-space">g</span>
                            <span class="green no-space">l</span>
                            <span class="letter-e red no-space">e</span>
                            <span class="site-span-api">API <span id="menu-hamburger" class="fas fa-caret-down green" style="padding-left:5%;font-size: 28px;"></span></span>
                        </h1>
                        <!-- <div><span id="menu-caret" class="fas fa-caret-down"></span></div> -->
                    </button>
                    <a asp-controller="Home" asp-action="Index" style="text-decoration:none;" class="mobile-placement" title="MoogleApi">
                        <h1 class="site-logo swap">
                            <span class="blue no-space">M</span>
                            <span class="span-logo"><img class="logo-img" src="@Url.Content("/icons/icon-ff-moogle.png")" alt="Moogle face for one of the Os."></span>
                            <span class="yellow no-space">o</span>
                            <span class="blue no-space">g</span>
                            <span class="green no-space">l</span>
                            <span class="letter-e red no-space">e</span>
                            <span class="site-span-api">API</span>
                        </h1>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
        <footer>
            <hr />
            <span id="copyright" class="copyright">&copy; 2018 - @DateTime.Now.Year </span>
            <span id="copyright" class="mobile-copyright">&copy;  @DateTime.Now.Year </span>
            <a class="navbar-title" asp-controller="Home" asp-action="Index" title="Click to go to search page.">
                <span class="blue">M</span>
                <span class="red">o</span>
                <span class="yellow">o</span>
                <span class="blue">g</span>
                <span class="green">l</span>
                <span class="red">e</span>
                <span class="site-span-api site-span-api-sm">API</span>
            </a> 
            <span id="social-icons">
            <a href="https://www.facebook.com/jackfperryjr" target="_blank" title="Visit Facebook."><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/in/jackfperryjr" target="_blank" title="Visit LinkedIn."><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/jackfperryjr" target="_blank" title="Visit GitHub."><i class="fab fa-github-square"></i></a>
            <a href="https://www.instagram.com/jackfperryjr" target="_blank" title="Visit Instagram."><i class="fab fa-instagram"></i></a>
            </span>
        </footer>
        <environment include="Production">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        </environment>
        <environment exclude="Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
        </environment>

        @RenderSection("Scripts", required: false)
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(".navbar-toggle").click(function () {
                //$("#menu-caret").toggleClass("rotate-caret");
                $("#menu-hamburger").toggleClass("fas fa-caret-down green");
                $("#menu-hamburger").toggleClass("fas fa-caret-up red");
            });
        </script>
    </body>
</html>
