@model IEnumerable<Moogle.Models.ApplicationUserViewModel>
@using Microsoft.AspNetCore.Identity
@using Moogle.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "| Users";
    var users = await UserManager.GetUserAsync(User);
}
<h2 class="top-buffer">users</h2>
<hr />
    <div id="input-container">
        <div class="row">
            <div class="col-md-6">
                <input id="search" class="fancy-search" type="text" name="SearchString" placeholder='This is just for looks, for now...' value="@ViewData["CurrentFilter"]" disabled/>
                <i id="search-icon" class="glyphicon glyphicon-search form-control-feedback blue" style="margin-right:30px;"></i>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn back-btn" asp-action="Users"><span class="glyphicon glyphicon-th-list"></span> full list</a>
                <a class="btn back-btn" asp-action="Register"><span class="glyphicon glyphicon-plus"></span> add user</a>
            </div>
        </div>
    </div>
<div class="container top-buffer"> 
    <div class="row bottom-buffer">
    @foreach (var user in Model)  
    {  
        @if (user.Email != "jack.franklin.perryjr@gmail.com")
        {
            <div class="well col-md-4 character-card" style="min-width:250px!important;">
                <p>@user.FirstName @user.LastName</p>
                <p>@user.Email</p>
                <p>email confirmed? @user.EmailConfirmed</p>
                <br/>
                <a class="btn btn-danger" data-toggle="modal" href="@("#deleteModal" + user.UserId)">remove?</a>
                <div class="modal fade" id="@("deleteModal" + user.UserId)" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content text-center">
                        @using (Html.BeginForm("Delete", "Account"))
                        {
                            <input type="hidden" value="@user.UserId" name="Id" />
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Delete @user.Email</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete @user.Email?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">yes</button>
                                <button type="button" class="btn btn-default shadow" data-dismiss="modal">no</button>
                            </div>
                        }
                        </div>
                    </div>
                </div>  
            </div>
        }
    }  
    </div>

</div>
