@model Mvc.Models.Monster

@{
    ViewData["Title"] = "| Delete";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}

<h2 class="lightSpeedIn">delete monster</h2>
<h3 id="delete-warning" class="tada">are you sure?</h3>
<hr />
<div id="detail-view">
    <div class="row">
        <div class="col-md-4">
            <img id="character-profile-img" src="@Url.Content(Model.Picture)" alt="@Html.DisplayFor(model => model.Name)" title="Search for @Html.DisplayFor(model => model.Name) on Google!"/>
        </div>
        <div class="col-md-3">
            <h4><strong>@Html.DisplayNameFor(model => model.Strength)</strong>: @Html.DisplayFor(model => model.Strength)</h4>
            <h4><strong>@Html.DisplayNameFor(model => model.Weakness)</strong>: @Html.DisplayFor(model => model.Weakness)</h4>
        </div>
        <div class="col-md-5">
            <h4 id="desc"><!-- <strong>@Html.DisplayNameFor(model => model.Description)</strong>: -->@Html.DisplayFor(model => model.Description)</h4>
        </div>
    </div>
</div>
<div>
<a class="btn btn-default" onclick="history.go(-1);"><span class="glyphicon glyphicon-arrow-left"></span> go back</a>

<form asp-action="Delete" style="float: right;">
    <input type="hidden" asp-for="MonsterId" />
    <button type="submit" class="btn btn-danger" ><span class="glyphicon glyphicon-remove"></span> delete</button>
</form>
 