@model Mvc.Models.Game

@using Microsoft.AspNetCore.Identity
@using Mvc.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "| Game Details";
    string imagePath = Model.Picture;
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}

<h2 class="lightSpeedIn" style="text-transform: lowercase;">@Html.DisplayFor(model => model.Title)</h2>
<hr />
<div id="detail-view">
    <div class="row">
        <div class="col-md-6">
            <img id="character-profile-img" src="~/@imagePath" alt="@Html.DisplayFor(model => model.Title)" title="Logo for @Html.DisplayFor(model => model.Title)"/>
        </div>
        <div class="col-md-6">
            <h4><strong>@Html.DisplayNameFor(model => model.ReleaseDate)</strong>: @Html.DisplayFor(model => model.ReleaseDate)</h4>
            <h4><strong>@Html.DisplayNameFor(model => model.Platform)</strong>: @Html.DisplayFor(model => model.Platform)</h4>
            <!-- <h4><strong>@Html.DisplayNameFor(model => model.Characters)</strong>: @Html.DisplayFor(model => model.Characters)</h4> -->
            <h4 id="desc">@Html.DisplayFor(model => model.Description)</h4>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-default" onclick="history.go(-1);"><span class="glyphicon glyphicon-arrow-left"></span> back to list</a>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-default index-button" asp-action="Edit" asp-route-id="@Model.GameId"><span class="glyphicon glyphicon-pencil"></span> edit</a>
        <a class="btn btn-danger index-button" asp-action="Delete" asp-route-id="@Model.GameId"><span class="glyphicon glyphicon-remove"></span> del&nbsp;</a>
    }
</div>
