@model IEnumerable<Mvc.Models.Game>

@using Microsoft.AspNetCore.Identity
@using Mvc.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "| Games";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2 class="lightSpeedIn">game list</h2>
<hr />
<form asp-action="Index" method="get">
    <div id="input-container">
        <p class="text-left">
            <input class="input-bar" type="text" name="SearchString" placeholder='Search ex. "04"' value="@ViewData["CurrentFilter"]" />
            <button id="search-btn" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            <a class="btn btn-default back-btn" asp-action="Index"><span class="glyphicon glyphicon-th-list"></span> full list</a>
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn btn-default back-btn" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> add game</a>
            }
        </p>
    </div>
</form>
<div class="index-list">
    <table id="character-list" class="table">
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td class="character-list-item">
                    <a asp-action="Details" asp-route-id="@item.GameId" >
                        <img class="game-list-thumb" asp-route-id="@item.GameId" src="@Url.Content(item.Picture)" alt="@Html.DisplayFor(modelItem => item.Title)" title="@Html.DisplayFor(modelItem => item.Title)"/>
                    </a>
                </td>
                <td class="character-list-item">
                    <a asp-action="Details" asp-route-id="@item.GameId" >@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                @if (SignInManager.IsSignedIn(User))
                    {
                        <td class="character-list-item">
                            <a asp-action="Edit" asp-route-id="@item.GameId"><span class="glyphicon glyphicon-pencil"></span>edit</a> | 
                            <a asp-action="Delete" asp-route-id="@item.GameId"><span class="glyphicon glyphicon-remove"></span>delete</a>
                        </td>
                    }
            </tr>
    }
        </tbody>
    </table>
</div>