@model Moogle.Models.Game

@{
    ViewData["Title"] = "| Edit";
    string imagePath = Model.Picture;
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}

<h2 class="lightSpeedIn">edit game</h2>
<hr />
<form asp-action="Edit">
    <div class="add-edit-list">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="GameId" />
                    <input asp-for="Title" class="login-bar login-picture" placeholder="Enter game title"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="GameId" />
                    <input asp-for="ReleaseDate" class="login-bar login-picture" placeholder='Enter release date ex. "March 3, 1982"'/>
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="GameId" />
                    <input asp-for="Platform" class="login-bar login-picture" placeholder='Enter platform ex. "Playstation 1"'/>
                    <span asp-validation-for="Platform" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="GameId" />
                    <input asp-for="Picture" class="login-bar login-picture" placeholder="images/logos/ff-&lt;game-title&gt;.jpg" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
            <div id="desc-position" class="col-md-8">
                <div class="form-group">
                    <input type="hidden" asp-for="GameId" />
                    <textarea id="desc-input" asp-for="Description" class="login-bar" placeholder="Enter game description in this space"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> save</button>
    </div>
</form>
<div style="margin-bottom:15px;">
    <a class="btn btn-danger" data-toggle="modal" href="@("#deleteModal")"><span class="glyphicon glyphicon-remove"></span> delete</a>
    <div class="modal fade" id="@("deleteModal")" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                @using (Html.BeginForm("Delete", "Character"))
                {
                    <input type="hidden" value="@Model.GameId" name="GameId" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Delete @Model.Title</h4>
                    </div>
                    <div class="modal-body">
                        <img class="character-delete-img-game" asp-route-id="@Model.GameId" src="~/@imagePath" alt="@Html.DisplayFor(model => model.Title)" title="@Html.DisplayFor(model => model.Title)"/>
                        <br/><br/>
                        <p>Are you sure you want to delete @Model.Title?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">no</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-default" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span> nevermind</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
