@model Moogle.Models.Game
@{
    ViewData["Title"] = "| Edit";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2 class="top-buffer">edit game</h2>
@if (@TempData["Status"] != null) {
<div id="edit-success-container" class='@TempData["ClassName"]' style='@TempData["ContainerHeight"]'>
    <span onclick="hideSuccess()" class='pull-right' style='cursor: pointer; color: #fff; font-size: 28px; padding-right: 10px;'>&times;</span>
    <h3 class='text-center' style='margin: auto; padding: 5px;'>@TempData["Message"]</h3>
</div>
}
<hr />
<form asp-action="Edit">
    <div class="add-edit-list">
        <div class="row">
            <div class="input-group" style="height:250px;width:250px;margin:0 auto;">
                <label>
                    <img id="img-output" class="img-game" asp-route-id="@Model.GameId" src="@Model.Picture" alt="@Model.Title" title="@Model.Title" />
                    <input asp-for="Picture" id="img-input" type="file" accept="image/*" name="picture" style="display:none;" />
                </label>
                <h5>click to change image</h5>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>        
        </div>
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="GameId" />
                    <input asp-for="Title" class="login-bar login-picture" style="width:100%;" placeholder="Enter game title" title="Enter game title."/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <span style="color:#cc0000;font-size:10px;margin-bottom:5px;float:left;">game title</span>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="GameId" />
                    <input asp-for="ReleaseDate" class="login-bar login-picture" style="width:100%;" placeholder='Enter release date ex. "March 3, 1982"' title="Enter game's release date."/>
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <span style="color:#cc0000;font-size:10px;margin-bottom:5px;float:left;">release date</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="GameId" />
                    <input asp-for="Platform" class="login-bar login-picture" style="width:100%;" placeholder='Enter platform ex. "Playstation 1"' title="Enter the platform game was released on."/>
                    <span asp-validation-for="Platform" class="text-danger"></span>
                </div>
                <span style="color:#cc0000;font-size:10px;margin-bottom:5px;float:left;">platform</span>
            </div>
        </div>
        <div class="row">
            <div id="desc-position" style="width:100%;">
                <div class="form-group">
                    <input type="hidden" asp-for="GameId" />
                    <textarea id="desc-input" asp-for="Description" class="login-bar" placeholder="Enter game description in this space" title="Enter game description here."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="add-edit-list">
        <div class="form-group top-buffer">
            <button class="btn btn-link far fa-times-circle edit-cancel yellow" asp-action="Index"></button>
            <button type="submit" class="btn btn-link far fa-check-circle edit-save blue"></button>
        </div>
    </div>
</form>