@model IEnumerable<Moogle.Models.Game>
@using Microsoft.AspNetCore.Identity
@using Moogle.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "| Games";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2 class="top-buffer">game list</h2>
@if (@TempData["Status"] != null) {
<div id="edit-success-container" class='@TempData["ClassName"]' style='@TempData["ContainerHeight"]'>
    <span onclick="hideSuccess()" class='pull-right' style='cursor: pointer; color: #fff; font-size: 28px; padding-right: 10px;'>&times;</span>
    <h3 class='text-center' style='margin: auto; padding: 5px;'>@TempData["Message"]</h3>
</div>
}
<hr />
<form asp-action="Index" method="get">
    <div id="input-container">
        <div class="row">
            <div class="col-md-6">
                <input id="search" class="fancy-search" type="text" name="SearchString" placeholder='Search ex. "04"' value="@ViewData["CurrentFilter"]"/>
                <i id="search-icon" class="glyphicon glyphicon-search form-control-feedback blue" style="margin-right:30px;"></i>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn back-btn" asp-action="Index"><span class="glyphicon glyphicon-th-list"></span> full list</a>
                @if (User.IsInRole("Admin"))
                {
                <a class="btn back-btn" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> add game</a>
                }
            </div>
        </div>
    </div>
</form>
<div class="row" style="margin-right: auto; margin-left: auto; padding-left:5%;">
    @foreach (var item in Model) 
    {
    <div class="well col-md-3 col-sm-3 col-xs-3 character-card text-center">
        <a data-toggle="modal" href="@("#viewModal" + item.GameId)"><img class="character-list-thumb" asp-route-id="@item.GameId" src="@item.Picture" alt="@item.Title" title="@item.Title"/></a>
        <div class="modal fade" id="@("viewModal" + item.GameId)" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content text-center">
                    @using (Html.BeginForm("Details", "Game"))
                    {
                    <input type="hidden" value="@item.GameId" name="GameId" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">@item.Title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <img class="character-delete-img-game" asp-route-id="@item.GameId" src="@item.Picture" alt="@item.Title" title="@item.Title"/>
                        </div>
                        <div class="row text-left">
                            <div class="col-md-12">
                                <h4 id="desc">@item.Description</h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @if (User.IsInRole("Admin")) 
                        {
                        <a class="btn btn-warning shadow" data-toggle="modal" href="@("#deleteModal" + item.GameId)">delete</a>
                        <a class="btn btn-default shadow" asp-action="Edit" asp-route-id="@item.GameId">edit</a>
                        <button type="button" class="btn btn-default shadow" data-dismiss="modal">close</button>
                        }
                        else 
                        {
                        <button type="button" class="btn btn-default shadow" data-dismiss="modal">close</button>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
        <br/>
        @if (User.IsInRole("Admin"))
        {
        <span class="font-12">
            <a asp-action="Edit" asp-route-id="@item.GameId">edit</a> | 
            <a data-toggle="modal" href="@("#deleteModal" + item.GameId)">delete</a>
            <div class="modal fade" id="@("deleteModal" + item.GameId)" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content text-center">
                        @using (Html.BeginForm("Delete", "Game"))
                        {
                        <input type="hidden" value="@item.GameId" name="Id" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">X</button>
                            <h4 class="modal-title">Delete @item.Title</h4>
                        </div>
                        <div class="modal-body">
                            <img class="character-delete-img-game" asp-route-id="@item.GameId" src="@item.Picture" alt="@item.Title" title="@item.Title"/>
                            <br/><br/>
                            <p>Are you sure you want to delete @item.Title?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">yes</button>
                            <button type="button" class="btn btn-default shadow" data-dismiss="modal">no</button>
                        </div>
                        }
                    </div>
                </div>
            </div>  
        </span>  
        }                    
    </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        function hideSuccess() {
            $("#edit-success-container").hide();
        }
    </script>
}