@model IEnumerable<Mog.Models.ApplicationUser>
@using Microsoft.AspNetCore.Identity
@using Mog.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "| Users";
    ViewData.AddActivePage(ManageNavPages.Users);
    var users = await UserManager.GetUserAsync(User);
}
<form asp-action="Users" method="get">
    <div id="input-container">
        <div class="row">
            <div class="col-md-6">
                <input id="search" class="fancy-search" type="text" name="SearchString" placeholder='Search...' value="@ViewData["CurrentFilter"]" />
                <i id="search-icon" class="fas fa-search form-control-feedback blue" style="margin-right:30px;"></i>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn back-btn" asp-action="Users">full list</a>
                <a class="btn back-btn" asp-action="Register">add user</a>
            </div>
        </div>
    </div>
</form>
<div class="top-buffer"> 
    <!-- <div class="row bottom-buffer" style="margin-right: auto; margin-left: auto; padding-left:5%;"> -->
    <table class="table table-condensed">
        <tr>
            <td></td>
            <td>user</td>
            <td><span class="mobile-display-none">email confirmed?</span></td>
            <td></td>
        </tr>
    @foreach (var user in Model)  
    {  
        @if (user.Email != "jackfperryjr@gmail.com")
        {
            <tr>
                <td><img src="@user.Picture" style="width: 40px;height:40px;border-radius:50%;margin-right:3px;" /></td>
                <td style="min-width:100px;">@user.FirstName @user.LastName</td>
                <td><span class="mobile-display-none">@user.EmailConfirmed</span></td>
                <td class="text-right"><a class="btn btn-blue" data-toggle="modal" href="@("#makeAdminModal" + user.Id)">make admin?</a>
                    <div class="modal fade" id="@("makeAdminModal" + user.Id)" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content text-center">
                            @using (Html.BeginForm("EditUserRole", "Manage"))
                            {
                                <input type="hidden" value="@user.Id" name="Id" />
                                <input type="hidden" value="1" name="role" />
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Make @user.Email an admin</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to make @user.Email an admin?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-red">yes</button>
                                    <button type="button" class="btn btn-blue" data-dismiss="modal">no</button>
                                </div>
                            }
                            </div>
                        </div>
                    </div> 
                    <a class="btn btn-green" data-toggle="modal" href="@("#makeManagerModal" + user.Id)">make manager?</a>
                    <div class="modal fade" id="@("makeManagerModal" + user.Id)" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content text-center">
                            @using (Html.BeginForm("EditUserRole", "Manage"))
                            {
                                <input type="hidden" value="@user.Id" name="Id" />
                                <input type="hidden" value="2" name="role" />
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Make @user.Email a manager</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to make @user.Email a manager?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-red">yes</button>
                                    <button type="button" class="btn btn-blue" data-dismiss="modal">no</button>
                                </div>
                            }
                            </div>
                        </div>
                    </div> 
                    <a class="btn btn-yellow" data-toggle="modal" href="@("#makeMemberModal" + user.Id)">make member?</a>
                    <div class="modal fade" id="@("makeMemberModal" + user.Id)" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content text-center">
                            @using (Html.BeginForm("EditUserRole", "Manage"))
                            {
                                <input type="hidden" value="@user.Id" name="Id" />
                                <input type="hidden" value="0" name="role" />
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Make @user.Email a member</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to make @user.Email a member?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-red">yes</button>
                                    <button type="button" class="btn btn-blue" data-dismiss="modal">no</button>
                                </div>
                            }
                            </div>
                        </div>
                    </div> 
                    <a class="btn btn-red" data-toggle="modal" href="@("#deleteModal" + user.Id)">delete user?</a>
                    <div class="modal fade" id="@("deleteModal" + user.Id)" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content text-center">
                            @using (Html.BeginForm("Delete", "Manage"))
                            {
                                <input type="hidden" value="@user.Id" name="Id" />
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">X</button>
                                    <h4 class="modal-title">Delete @user.Email</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete @user.Email?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-red">yes</button>
                                    <button type="button" class="btn btn-blue" data-dismiss="modal">no</button>
                                </div>
                            }
                            </div>
                        </div>
                    </div>  
                </td>
            </tr>
            <!-- </div> -->
        }
    }  
    <!-- </div> -->
    </table>

</div>
