<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta property="og:url" content="www.moogleapi.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="MoogleApi">
        <meta property="og:description" content="MoogleApi is your search engine for Final Fantasy. Easily find, and learn more, about your favorite games, characters, and monsters.">
        <meta property="og:owner" content="Jack F. Perry, Jr.">
        <meta name="description" content="MoogleApi is your search engine for Final Fantasy. Easily find, and learn more, about your favorite games, characters, and monsters.">
        <meta name="author" content="Jack F. Perry, Jr.">
        <!-- Start of PWA elements -->
        <meta name=”apple-mobile-web-app-capable” content=”yes” />
        <meta name=”mobile-web-app-capable” content=”yes” />
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />    
        <meta name="apple-mobile-web-app-title" content="MoogleApi" />
        <meta name="apple-mobile-web-app-orientations" content="portrait-any" />
        <!-- Home screen icon -->
        <link rel="apple-touch-icon" href="~/icons/apple-touch-icon.png">
        <link rel="apple-touch-startup-image" href="~/icons/icon-moogle-circle-512.png">
        <link href="~/icons/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="~/icons/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="~/icons/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="~/icons/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="~/icons/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="~/icons/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="~/icons/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="~/icons/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="~/icons/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="~/icons/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <!-- End of PWA elements -->
        <environment include="Development, Production">
        <link href="~/css/moogleapi-main.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/2f51bb661c.js" crossorigin="anonymous"></script>
        <script src="~/js/moogleapi-prep.min.js"></script>
        @RenderSection("Styles", false)
        </environment>
        <title>MoogleApi</title>
    </head>
    <body>
        <div class="site-logo-container">
            <h1 class="site-logo">
                <a asp-controller="Home" asp-action="Index">
                    <span class="text-primary no-space">m</span>
                    <span class="mx-sm-10"><img class="logo-img" src="@Url.Content("/images/moogle.png")" alt="Moogle face for one of the Os."></span>
                    <span class="text-secondary no-space">o</span>
                    <span class="text-primary no-space">g</span>
                    <span class="text-success no-space">l</span>
                    <span class="text-danger custom-margin-left no-space">e</span>
                    <span class="text-dark site-span-api">API</span>
                </a>
            </h1>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <footer>
            <span class="copyright">&copy; 2018 - @DateTime.Now.Year</span>
            <a asp-controller="Home" asp-action="Index" title="Click to go to search page.">
                <span class="blue">m</span>
                <span class="red">o</span>
                <span class="yellow">o</span>
                <span class="blue">g</span>
                <span class="green">l</span>
                <span class="red">e</span>
                <span class="site-span-api site-span-api-sm">API</span>
            </a> 
            <span id="social-icons">
                <a href="https://www.facebook.com/jackfperryjr" target="_blank" title="Visit Facebook."><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.linkedin.com/in/jackfperryjr" target="_blank" title="Visit LinkedIn."><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/jackfperryjr" target="_blank" title="Visit GitHub."><i class="fab fa-github-square"></i></a>
                <a href="https://www.instagram.com/jackfperryjr" target="_blank" title="Visit Instagram."><i class="fab fa-instagram"></i></a>
            </span>
        </footer>
        <script src="~/js/moogleapi-main.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
