@model Moogle.Models.BlogPost
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "| " + Model.Title;
    var user = await UserManager.GetUserAsync(User);
}

<h1 class="text-center" style="font-weight:bolder;margin-top:100px;">@Model.Title</h1>
<p class="text-center"><span class="red">@Model.CreatedDate.ToString("dd MMM yyyy")</span></p>
<div class="article-page container top-buffer">
    <div class="col-md-8 article-details">
        <blockquote style="margin-top:25px;">@Model.Content</blockquote>
        <p>
            <img style="width:60px;height:60px;border-radius:50%;margin-right:20px;" src="@Model.Author.Picture" />
            <span style="font-size:14px;"> by: <a href="mailto:@Model.Author.Email">@Model.Author.Email</a></span>
        </p>
    </div>
    <div class="col-md-4">
        <div class="container-fluid sidebar">
            <div class="btn-blue add-blog">
                <a asp-action="Create">
                    <span class="fas fa-plus" aria-hidden="true"></span>
                </a>
            </div>
            <div class="row">
                <a class="btn btn-blue" asp-action="Index">back to list</a>
                @if (User.IsInRole("Admin") || user.Email == Model.Author.Email)
                {
                    <a class="btn btn-yellow" asp-action="Delete" asp-route-id="@Model.BlogPostId">delete</a>
                }
            </div>
        </div>
    </div>
</div>