@model Moogle.Models.Monster
@{
    ViewData["Title"] = "| Edit";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2 class="top-buffer">edit monster</h2>
@if (@TempData["Status"] != null) {
<div id="edit-success-container" class='@TempData["ClassName"]' style='@TempData["ContainerHeight"]'>
    <span onclick="hideSuccess()" class='pull-right' style='cursor: pointer; color: #fff; font-size: 28px; padding-right: 10px;'>&times;</span>
    <h3 class='text-center' style='margin: auto; padding: 5px;'>@TempData["Message"]</h3>
</div>
}
<hr />
<form asp-action="Edit" >
    <div class="add-edit-list">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <input asp-for="Name" class="login-bar login-picture" placeholder="Enter monster name" title="Enter monster's name."/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <span class="font-10 label-under">name</span>
                </div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <input asp-for="JapaneseName" class="login-bar login-picture" placeholder="Enter monster japanese name" title="Enter monster's japanese name."/>
                    <span asp-validation-for="JapaneseName" class="text-danger"></span>
                    <span class="font-10 label-under">japanese name</span>
                </div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <input asp-for="ElementalAffinity" class="login-bar login-picture" placeholder="What's this monster's elemental affinity?" title="Enter monster's elemental affinity."/>
                    <span asp-validation-for="ElementalAffinity" class="text-danger"></span>
                    <span class="font-10 label-under">elemental affinity</span>
                </div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <input asp-for="ElementalWeakness" class="login-bar login-picture" placeholder="What's this monster's elemental weakness?" title="Enter monster's elemental weakness."/>
                    <span asp-validation-for="ElementalWeakness" class="text-danger"></span>
                    <span class="font-10 label-under">elemental weakness</span>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-6">
                        <div class="form-group" style="margin-bottom:0 !important;">
                            <input type="hidden" asp-for="MonsterId" />
                            <input asp-for="Attack" class="login-bar login-picture" placeholder="Enter attack" title="Enter monster's attack stat."/>
                            <span asp-validation-for="Attack" class="text-danger"></span>
                            <span class="font-10 label-under">attack</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin-bottom:0 !important;">
                            <input type="hidden" asp-for="MonsterId" />
                            <input asp-for="Defense" class="login-bar login-picture" placeholder="Enter defense" title="Enter monster's defense stat."/>
                            <span asp-validation-for="Defense" class="text-danger"></span>
                            <span class="font-10 label-under">defense</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="margin-bottom:0 !important;">
                            <input type="hidden" asp-for="MonsterId" />
                            <input asp-for="HitPoints" class="login-bar login-picture" placeholder="Enter hp" title="Enter monster's hp."/>
                            <span asp-validation-for="HitPoints" class="text-danger"></span>
                            <span class="font-10 label-under">hp</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin-bottom:0 !important;">
                            <input type="hidden" asp-for="MonsterId" />
                            <input asp-for="ManaPoints" class="login-bar login-picture" placeholder="Enter mp" title="Enter monster's mp."/>
                            <span asp-validation-for="ManaPoints" class="text-danger"></span>
                            <span class="font-10 label-under">mp</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <select asp-for="Game" class="login-bar login-picture">
                        <option value="Final Fantasy 01">Final Fantasy 01</option>
                        <option value="Final Fantasy 02">Final Fantasy 02</option>
                        <option value="Final Fantasy 03">Final Fantasy 03</option>  
                        <option value="Final Fantasy 04">Final Fantasy 04</option>
                        <option value="Final Fantasy 05">Final Fantasy 05</option>
                        <option value="Final Fantasy 06">Final Fantasy 06</option>
                        <option value="Final Fantasy 07">Final Fantasy 07</option>
                        <option value="Final Fantasy 08">Final Fantasy 08</option>
                        <option value="Final Fantasy 09">Final Fantasy 09</option>
                        <option value="Final Fantasy 10">Final Fantasy 10</option>
                        <option value="Final Fantasy 10-2">Final Fantasy 10-2</option>
                        <option value="Final Fantasy 11">Final Fantasy 11</option>
                        <option value="Final Fantasy 12">Final Fantasy 12</option>
                        <option value="Final Fantasy 13">Final Fantasy 13</option>
                        <option value="Final Fantasy 13-2">Final Fantasy 13-2</option>
                        <option value="Final Fantasy 14">Final Fantasy 14</option>
                        <option value="Final Fantasy 15">Final Fantasy 15</option>
                        <option value="Final Fantasy BE">Final Fantasy Brave Exvius</option>
                    </select>
                    <span asp-validation-for="Game" class="text-danger"></span>
                    <span class="font-10 label-under">game</span>
                </div>
            </div>
            <div id="desc-position" class="col-md-6">
                <div class="input-group" style="height:250px;width:250px;margin:0 auto;">
                    <label>
                        <img id="img-output" style="width:100%;height:auto;max-height:100%;margin:5px;cursor:pointer;" asp-route-id="@Model.MonsterId" src="@Model.Picture" alt="@Model.Name" title="@Model.Name" />
                        <input asp-for="Picture" id="img-input" type="file" accept="image/*" name="picture" style="display:none;" />
                    </label>
                    <h5>click to change image</h5>
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="margin-bottom:0 !important;padding:0 15px;">
                <input type="hidden" asp-for="MonsterId" />
                <textarea id="desc-input" asp-for="Description" class="login-bar" placeholder="Enter a monster description in this space" title="Enter a character description in this space" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="add-edit-list">
        <div class="form-group top-buffer">
            <a class="btn btn-default shadow" onclick="history.go(-1);"><span class="glyphicon glyphicon-arrow-left"></span> back</a>
            <button type="submit" class="btn btn-default shadow"><span class="glyphicon glyphicon-ok"></span> save</button>
        </div>
    </div>
</form>     

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function hideSuccess() {
            $("#edit-success-container").hide();
        }
        $("#img-input").change(function(event){
            let imgPath = URL.createObjectURL(event.target.files[0]);
            $("#img-output").fadeIn("fast").attr('src',imgPath); 
        }) 
    </script>
}