@model Moogle.Models.Monster
@{
    ViewData["Title"] = "| Edit";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2 class="top-buffer">edit monster</h2>
<hr />
<form asp-action="Edit" >
    <div class="add-edit-list">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <input asp-for="Name" class="login-bar login-picture" placeholder="Enter monster name" title="Enter monster's name."/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">name</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <input asp-for="Strength" class="login-bar login-picture" placeholder="What's this monster's strength?" title="Enter monster's strength."/>
                    <span asp-validation-for="Strength" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">strength</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <input asp-for="Weakness" class="login-bar login-picture" placeholder="What's this monster's weakness?" title="Enter monster's weakness."/>
                    <span asp-validation-for="Weakness" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">weakness</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <input class="login-bar login-picture" style="cursor:not-allowed;" placeholder="Future monster stat/info" disabled/>
                    <span class="text-danger"></span>
                </div>
                <span class="font-10 label-under">stat</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <input class="login-bar login-picture" style="cursor:not-allowed;" placeholder="Future monster stat/info" disabled/>
                    <span class="text-danger"></span>
                </div>
                <span class="font-10 label-under">stat</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input type="hidden" asp-for="MonsterId" />
                    <input class="login-bar login-picture" style="cursor:not-allowed;" placeholder="Future monster stat/info" disabled/>
                    <span class="text-danger"></span>
                </div>
                <span class="font-10 label-under">stat</span>
            </div>
            <div id="desc-position" class="col-md-6">
                <div style="width:250px;height:250px;">
                    <img style="width:100%;height:auto;max-height:100%;margin:5px;" asp-route-id="@Model.MonsterId" src="@Model.Picture" alt="@Model.Name" title="@Model.Name" />
                </div>
                <div class="form-group" style="margin-bottom:10px !important;">
                    <div class="input-group" style="width:100%;">
                        <label class="btn btn-primary btn-file pull-left btn-web-upload" style="margin-top:10px;max-width:20%;">upload 
                            <input asp-for="Picture" type="file" name="picture" style="display:none;" onchange="$('#picture-info').html(this.files[0].name)" />
                        </label>
                        <label class="btn btn-primary btn-file pull-left btn-mobile-upload" style="margin-top:10px;max-width:20%;"><span class="glyphicon glyphicon-cloud-upload"></span>
                            <input asp-for="Picture" type="file" name="picture" style="display:none;overflow:hidden;" onchange="$('#picture-info').html(this.files[0].name)" />
                        </label>
                        <span class="form-control login-bar login-picture img-input-format" id="picture-info">@Model.Picture</span>
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                </div>
                <span class="font-10 label-under">picture</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="margin-bottom:0 !important;">
                <input type="hidden" asp-for="MonsterId" />
                <textarea id="desc-input" asp-for="Description" class="login-bar" placeholder="Enter a monster description in this space" title="Enter a character description in this space" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="add-edit-list">
        <div class="form-group top-buffer">
            <a class="btn btn-default shadow" onclick="history.go(-1);"><span class="glyphicon glyphicon-arrow-left"></span> cancel</a>
            <button type="submit" class="btn btn-default shadow"><span class="glyphicon glyphicon-ok"></span> save</button>
        </div>
    </div>
</form>     

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}